<div class="configuration-container">
    <h3>Configuration Page</h3>
  
    <label for="locations">Select Location:</label>
  <select id="locations" [(ngModel)]="selectedLocation">
    <option *ngFor="let location of locations">
      <p>State: {{ location.state }}</p>
      <p>Location: {{ location.location }}</p>
      <p>City: {{ location.city }}</p>
      <p>Country: {{ location.country }}</p>
      <p>Zip Code: {{ location.zipCode }}</p>
      </option>
  </select>
  
  <label for="products">Select Product:</label>
  <select id="products" [(ngModel)]="selectedProduct">
    <option *ngFor="let product of products" [value]="product">{{ product.id }} - {{ product.name }}</option>
  </select>
  
    
    <button (click)="enableProduct()">Enable</button>
  
    <div *ngIf="productEnabled">
      <h4>Product Details</h4>
      <p>Product Name: {{ selectedProduct }}</p>
      <p>Location: {{ selectedLocation }}</p>
      
    </div>
  
    <button (click)="saveConfiguration()">Save Configuration</button>
  </div>
  